{% extends "shopping_lists/base.html" %}

{% block content %}

    <style>
        svg{
            transition: 0.5s;
        }
        svg:hover{
            opacity: 50%;
            transition: 0.5s;
            cursor: pointer;
        }
    </style>
    <h2 style="text-align: center">Panel użytkownika</h2>

    <div style="text-align: center">
        <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>

        <h3>{{ user }}</h3>
    </div>



    <div>
        <p>Opis</p>
        <p>Wiek</p>
        <p>Członek od: {{ user.date_joined }}</p>
        <p>Ostatnie logowanie: {{ user.last_login }}</p>
        <p>Email: {{ user.email }}</p>
    </div>

    <div>
        <p>
            <a href="{% url 'account_deletion' %}">Usuń konto</a>
        </p>
    </div>



{% endblock content %}
