{% extends "shopping_lists/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <div>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                     <div id="messages" class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% else %}
                     <div id="messages" class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <script>
            var mess = document.getElementById("messages")

            setTimeout(function(){
                mess.style.display="none";
            },2000)
        </script>
    </div>

    <a href="{% url 'single_list' sh_list.id %}">
        <div style="position: absolute; margin-top: 15px;color: black; margin-left: 15px">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </div>
    </a>

    <div style="margin: 20px">
        <h1>Szczegóły</h1>

    </div>
    <h6 style="text-align: center">Lista została przekazana użytkownikom:</h6>
    <div style="text-align: center;">
        {% for person in pages  %}
            <div id="change_variable_{{ product.id }}" class="normal_btns" style="margin: 10px 20px;display: grid;grid-template: auto/80% 20%; z-index:1;border-radius:10px; border:1px solid black;min-width: 300px; max-width: 600px;">
                <div style="margin: 20px; ">
                    {{ person }}
                </div>
                <div style="margin: auto; height: 40px; width: 40px;">
                    <a href="{% url 'delete_realizator' sh_list.id person.id %}" class="del_btns" style="color: red; border-radius: 2px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                    </a>
                </div>
            </div>
        {% endfor  %}
    </div>

        <div style="text-align: center; margin: 10px auto">
        {% if pages.has_other_pages %}
          <ul class="pagination">
            {% if pages.has_previous %}
              <li><a style="text-decoration: none; color: black" href="?page={{ pages.previous_page_number }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
              </a></li>
            {% else %}
              <li class="disabled"><span>
                <svg xmlns="http://www.w3.org/2000/svg" color="lightgray" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
              </span></li>
            {% endif %}

              <li class="active" style="margin:0 20px"><span>{{ pages.number }}/{{ pages.paginator.num_pages }} <span class="sr-only"></span></span></li>

            {% if pages.has_next %}
              <li><a style="text-decoration: none; color: black" href="?page={{ pages.next_page_number }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </a></li>
            {% else %}
              <li class="disabled"><span>
                <svg xmlns="http://www.w3.org/2000/svg" color="lightgray" width="32" height="32" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </span></li>
            {% endif %}
          </ul>
        {% endif %}
    </div>

    <h6 style="text-align: center">Logi listy</h6>
    <div style="text-align: center">
    TO DO
    </div>
    <div style="margin: 20px; text-align: center">
        <h3 style="display: inline; margin-right: 10px">Typ dostępu:</h3>
        {% if sh_list.display_only %}
            Tylko do odczytu
        {% else %}
            Możliwość edycji
        {% endif %}
    </div>

    <div style="margin: 20px; text-align: center">
        <h3>Grupa</h3>
        {% if sh_list.group %}
            {{ sh_list.group }}
        {% else %}
            Nie przypisano do grupy.
        {% endif %}
    </div>

    <div style="margin: 20px; text-align: center">
        <h3>Uwagi</h3>
        {% if sh_list.regards %}
            {{ sh_list.regards }}
        {% else %}
            Brak uwag.
        {% endif %}
    </div>

    <div style="text-align: center; margin: 20px">
        <a href="{% url 'details_edit' sh_list.id %}" style="min-width: 150px" class="btn btn-dark">
            Edytuj
        </a>
    </div>

{% endblock %}