{% extends "shopping_lists/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <style>

        body{
            text-align: center
        }

        .basic_white{
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            margin: 10px;
        }

        .chosen_one_box{
            background-color: lightgray;
            padding: 10px;
            margin: 5px 5px 0 5px;
            transition: 0.5s, opacity 1s;
            border-radius: 20px;
            cursor: pointer;
            width: 60px;
            display: inline-block;
        }

        .chosen_one_box:hover{
            filter: brightness(85%);
            transition: 0.5s, opacity 1s;
        }

        .main_expenses_field{
            margin: 0 7px;
            padding: 11px;
            border-radius: 10px;

        }

    </style>

    <h1 style=" margin: 20px; word-wrap: break-word">

    {% if user.is_authenticated %}
        Witaj, {{ user.username }}!
    {% else %}
        Witaj, Gościu!
    {% endif %}

    </h1>

    <div class="basic_white" style="border: 1px solid black; margin: 20px auto;min-width: 400px; max-width: 600px">
        <h4>Wiadomości</h4>
        {% if new_messages_number == 0 %}
            <div style="display: inline; vertical-align: middle">
                Brak nowych wiadomości
            </div>

            {% else %}
                <svg style="display: inline; vertical-align: middle; margin: 0 10px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-envelope-exclamation" viewBox="0 0 16 16">
                   <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                   <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1.5a.5.5 0 0 1-1 0V11a.5.5 0 0 1 1 0Zm0 3a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
                </svg>
            {% if new_messages_number == 1 %}
                <div style="display: inline; vertical-align: middle">
                    Masz <b>{{ new_messages_number }}</b> nową wiadomość.
                </div>
            {% elif new_messages_number < 5 %}
                <div style="display: inline; vertical-align: middle">
                    Masz <b>{{ new_messages_number }}</b> nowe wiadomości.
                </div>
            {% else %}
                <div style="display: inline; vertical-align: middle">
                    Masz <b>{{ new_messages_number }}</b> nowych wiadomości.
                </div>
            {% endif %}
        {% endif %}
    </div>

    <div class="basic_white" style="border: 1px solid black; margin: 20px auto;min-width: 400px; max-width: 600px">
        <h4>Terminy</h4>
    </div>

    <div class="main_expenses_field"  style="border: 1px solid black; margin: 20px auto;min-width: 400px; max-width: 600px">
        <h4>Wydatki</h4>
        <div>
            <div id="year_box" class="chosen_one_box">
                Roczne
            </div>
            <div id="month_box" class="chosen_one_box">M</div>
            <div id="week_box" class="chosen_one_box">T</div>
            <div id="day_box" class="chosen_one_box"> D</div>
        </div>
        <div class="basic_white" id="expenses_title">
            {% autoescape off %}
                {{ pie_chart }}
            {% endautoescape %}
        </div>
    </div>



    <div class="basic_white" style="border: 1px solid black; margin: 20px auto;min-width: 400px; max-width: 600px">
        <h4> Porównaj się z innymi! </h4>
    </div>

    <script>
        var year_box = document.getElementById("year_box")
        var month_box = document.getElementById("month_box")
        var week_box = document.getElementById("week_box")
        var day_box = document.getElementById("day_box")
        var exp_title = document.getElementById("expenses_title")

        var boxes = [
            year_box,
            month_box,
            week_box,
            day_box,
             ];

        var names = ["Roczne", "Miesięczne", "Tygodniowe", "Dzienne"];
        var short_names = ["R", "M", "T", "D"];

        year_box.style.transition = "0";
        year_box.style.backgroundColor = "slategrey";
        year_box.style.width = "100px";
        boxes.forEach((item) => {item.addEventListener('click', wrapper)});

          function wrapper(){
              on_click(event.target)
          }

          function on_click(box){
              var counter = 0
              box.style.backgroundColor = "slategrey";
              boxes.forEach((item) => {
                  if (item === box){
                      item.style.backgroundColor = "slategrey";
                      item.style.width = "100px";

                      item.style.opacity = '100%';
                      let temp = names[counter];
                      setTimeout(function() {
                          item.innerHTML = temp
                        }, 400);
                  }
                  else
                  {
                      item.style.backgroundColor = "darkgray";
                      item.style.width = "60px";
                      item.style.opacity = '50%';
                      item.innerHTML = short_names[counter]
                  }
                  counter += 1;
              });
              exp_title.innerHTML = box.innerText + " wydatki"
          }


    </script>

{% endblock content %}