{% extends "shopping_lists/base.html" %}

{% block content %}

    <title>Zebragon</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>


    <style>

        body
        {
            background: ghostwhite;
            margin: 0;
            font-family: "Montserrat", sans-serif;
        }


        h1, h2, h3, h4, h5, h6
        {
            font-family: "Montserrat", sans-serif;
        }

        h1, p {
            text-align: center;
        }


    </style>

    <a href="{% url 'your_lists' %}">
        <div style="position: fixed; margin-top: 15px;color: black; margin-left: 15px">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </div>
    </a>

    <h1>{{ current_list }}</h1>
    <p>Produkty:</p>
    <ul>
        {% for product in products %}
            <li>
                {{ product }}
                <a href="{% url 'edit_product' product.id %}" onclick="loadDoc()">✎</a>
                <a href="{% url 'removed' product.id %}" >✕</a>
            </li>

        {% empty %}
        <li>Nie został dodany jeszcze żaden produkt!</li>
        {% endfor %}
    </ul>
    <a href="{% url 'new_product' current_list.id %}">Dodaj nowy produkt</a>

    <a href="{% url 'share_list' current_list.id %}">Przekaż listę</a>

    <script type="text/javascript">
    var frm = $('#FORM-ID');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $("#SOME-DIV").html(data);
            },
            error: function(data) {
                $("#MESSAGE-DIV").html("Something went wrong!");
            }
        });
        return false;
    });
</script>

{% endblock content %}
