{% extends "shopping_lists/base.html" %}

{% block content %}
        <!-- Nadanie stylu -->
        <style>


            button{
                font-family: "Montserrat", sans-serif;
            }

            .del_btn{
                width: 100px;
                height: 40px;
                border-radius: 30px;
                border: none;
                background-color: slategrey;
                transition: 0.5s;
                margin: 20px;
                color: white;
            }

            .edit_btn{
                width: 100px;
                height: 40px;
                border-radius: 30px;
                border: none;
                background-color: #566470;
                transition: 0.5s;
                margin: 20px;
                color: white;
            }

            .add_btn{
                width: 100px;
                height: 40px;
                border-radius: 30px;
                border: none;
                background-color: #3f4952;
                transition: 0.5s;
                margin: 20px;
                color: white;
            }


            .del_btn:hover,.edit_btn:hover,.add_btn:hover{
                filter: brightness(85%);
                transition: 0.5s;
            }

            .del_btn:disabled,.edit_btn:disabled,.add_btn:disabled{
                filter: opacity(20%);
                transition: 0.5s;
            }

            .edit_small_button{
                color: black;
                text-decoration: none;
                display: none;
            }

            .x_button{
                color: red;
                text-decoration: none;
                display: none;
            }


        </style>

    <!-- Biblioteka jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Nadanie stylu -->
    <div id="text_your_lists" >
        <h1 id="title">Twoje listy</h1>
    </div>

    <div id="lista" class="lista" >

        <ol >
            {% for list in your_lists %}
                <li>
                    <div>
                        <a href="{% url 'single_list' list.id %}" style="line-height: 500%;">{{ list }}</a>

                        <button class="edit_small_button" id="{{ list.id }}" style="margin-left: 20px;" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                            </svg>
                        </button>

                        <form class="edit_forms_after_pencil" style="display: none" id="edit_form_{{ list.id }}">
                            {% csrf_token %}
                            {{ form.text.label }}
                            {{ form.text }}
                            <button type="submit" name="edit_btn_btn" id="edit_btn_btn">Edytuj</button>
                        </form>

                        <script>
                            $('#edit_form_{{ list.id }}').submit(function (e) {
                                e.preventDefault();
                                $.ajax({
                                    type: 'POST',
                                    url: '{% url "edit_shopping_lists" list.id %}',
                                    data: $(this).serialize(),
                                    success: function () {
                                        location.reload()
                                    },
                                    error: function (data) {
                                        console.log(data)
                                    }
                                });
                            });
                        </script>

                        <a class="x_button" href="{% url 'list_removed' list.id %}" style="margin-left: 20px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                            </svg>
                        </a>
                    </div>
                </li>
            {% empty %}
            <li>Nie została jeszcze dodana żadna lista!</li>
            {% endfor %}
        </ol>
    </div>

    <!-- Formularz dodawania listy-->
    <form style="display: none; text-align: center" id="add_form">
        {% csrf_token %}
        {{ form.text.label }}
        <p>{{ form.text }}</p>
        <button type="submit" name="add_btn" id="add_button">Dodaj</button>
    </form>

    <div id="btns_container" class="btn_container" style="margin: 20px; display: inline-block; text-align: center">
        <button id="delete_btn" class="del_btn">Usuń listę</button>
        <button id="edit_btn" class="edit_btn">Edytuj listę</button>
        <button id="add_btn" class="add_btn">Dodaj listę</button>
    </div>


    <!-- Skrypt obsługi eventów przycisków-->
    <script>
    var del_btn = document.getElementById("delete_btn")
    var del_btns = document.getElementsByClassName("x_button")
    var flag_del = true;

    var add_btn = document.getElementById("add_btn")
    var add_form = document.getElementById("add_form")
    var flag_add = true;

    var edit_btn = document.getElementById("edit_btn")
    var edit_btns_pencil = document.getElementsByClassName("edit_small_button");
    var edit_forms = document.getElementsByClassName("edit_forms_after_pencil")
    var flag_edit = true;

    var is_edited = [];
    for (var i = 0; i < edit_btns_pencil.length; i++) {is_edited.push(false);}


    del_btn.addEventListener('click', function (e) {
        if(flag_del){
            del_btn.innerHTML = "Anuluj"
            for (let i = 0; i < del_btns.length; i++)
            {
                del_btns[i].style.display = "inline-block";
            }
            flag_del = false;
            edit_btn.disabled = true;
            add_btn.disabled = true;
        }
        else
        {
            del_btn.innerHTML = "Usuń listę"
            for (let i = 0; i < del_btns.length; i++)
            {
                del_btns[i].style.display = "none";
            }
            flag_del = true;
            edit_btn.disabled = false;
            add_btn.disabled = false;
        }

    })

    edit_btn.addEventListener('click', function (e) {
        console.log(flag_edit)
        if(flag_edit){
            edit_btn.innerHTML = "Anuluj"
            for (let i = 0; i < edit_btns_pencil.length; i++)
            {
                edit_btns_pencil[i].style.display = "inline-block";
            }
            flag_edit = false;
            del_btn.disabled = true;
            add_btn.disabled = true;
        }
        else
        {
            edit_btn.innerHTML = "Edytuj listę"
            for (let i = 0; i < edit_btns_pencil.length; i++) {
                edit_btns_pencil[i].style.display = "none";
                if (is_edited[i] === true)
                {
                    let click_event = new CustomEvent('click');
                    edit_btns_pencil[i].dispatchEvent(click_event);
                }
            }
                flag_edit = true;
                del_btn.disabled = false;
                add_btn.disabled = false;

        }

    })


    add_btn.addEventListener('click', function (e) {
        if(flag_add){
            add_btn.innerHTML = "Anuluj"
            add_form.style.display = "inline-block";
            flag_add = false;
            edit_btn.disabled = true;
            del_btn.disabled = true;


        }
        else
        {
            add_btn.innerHTML = "Dodaj listę";
            add_form.style.display = "none";
            flag_add = true;
            edit_btn.disabled = false;
            del_btn.disabled = false;
        }

    })


    $('#add_form').submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "add_shopping_list" %}',
            data: $(this).serialize(),
            success: function () {
                location.reload();
                $('add_form').css("display","none");
            },
            error: function (data) {
                console.log(data.error)
            }
        });
    });

    for (let i = 0; i < edit_btns_pencil.length; i++)
        {
            edit_btns_pencil[i].addEventListener("click",function (e){
                if (is_edited[i] === false){
                    edit_forms[i].style.display = 'block';
                    edit_btns_pencil[i].innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                      <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                    </svg>`
                    is_edited[i] = true
                }
                else{
                    edit_forms[i].style.display = 'none';
                    edit_btns_pencil[i].innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                            </svg>`
                    is_edited[i] = false
                }
            })
        }

    </script>

<!--
    <form method="post" id="fruit_form">
    {% csrf_token %}
      <div class="form-check">
        <input type="checkbox" value="Apple" id="apple" name="fruits">
        <label for="apple">Apple</label>
      </div>
      <div class="form-check">
        <input type="checkbox" value="Mango" id="mango" name="fruits">
        <label for="mango">Mango</label>
      </div>
      <button type="submit" name="check_btn" id="check_click">Submit</button>
    </form>


    <script>
        $('#check_click').on( "click", function() {
              $('#fruit_form').css("display","block");
            } );
                    $('#fruit_form').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '{% url "del_shopping_lists" %}',
                    data: $(this).serialize(),
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (data) {
                        console.log(data)
                    }
                });
            });
    </script>

-->

{% endblock content %}
