{% extends "shopping_lists/base.html" %}

{% block content %}

    <div>
        <h3>Paragony</h3>
        {% for receipt in group_receipts %}
            <p>{{ receipt  }}  -------> {{ receipt.amount }}zł</p>
        {% empty %}
            <p>Brak wydatków grupy</p>
        {% endfor %}
            <p>Suma z paragonów: {{ suma_paragony }} zł</p>
    </div>

        <h2>Wydatki</h2>

        <div class="container">
            {% for expense in page_obj %}
                <div>
                <div style="display: inline-block">
                    <h3>{{expense.expense_name}} &nbsp; &nbsp; &nbsp; &nbsp;{{expense.amount}} zł</h3>
                    <p>
                        <div>Data dodania: {{ expense.date_added }}</div>
                        <div>Dodał: {{ expense.owner }}</div>
                        <div>
                            {% if expense.is_recurrent  %}
                                Powtarzalny
                                {% else %}
                                Jednorazowy
                            {% endif %}
                        </div>
                        <div>
                            Kategoria: {{ expense.category }}
                        </div>

                    </p>
                </div>

                </div>
             {% endfor %}
        </div>


        {% if page_obj.has_other_pages %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(expense)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}




    <p>Suma wydatków: {{ suma_wydatki }} zł</p>

{% endblock content %}
