{% extends "shopping_lists/base.html" %}

{% block content %}
    <style>

        body{
            background-image: linear-gradient(to right, #e0322f, #d22438, #c2183f, #b01043, #9e0c46, #8d0c47, #7b0e46, #6a1043, #57113e, #451138, #340f30, #240c26);
            text-align: center
        }

        .white_block{
            background-color: ghostwhite;
            margin: 20px;
            padding: 20px;
            border-radius: 10px;
        }

        .leave_btn{
            background-color: #db2e32;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
            color: white;
            text-align: center;
            width: 200px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px auto;
        }

        .leave_btn:hover{
            background-color: #be272a;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
            color: white;
            text-align: center;
            width: 200px;
            padding: 10px;
            border-radius: 10px;
            margin: 10px auto;
            transition: 0.3s;
            cursor: pointer;
        }

        .leave_btn a{
            text-decoration: none;
            color: white;
        }

        .invite_btn{
            background-color: #411646;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
            color: white;
            text-align: center;
            width: 200px;
            padding: 10px;
            border-radius: 10px;
            margin: 15px auto;
        }

        .invite_btn:hover, .invite_btn:focus{
            background-color: #5e1d67;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
            color: white;
            text-align: center;
            width: 200px;
            padding: 10px;
            border-radius: 10px;
            margin: 15px auto;
            transition: 0.3s;
            cursor: pointer;
        }

        .invite_btn a{
            text-decoration: none;
            color: white;
        }

    </style>

    <div style="height:40px">

        {% if messages %}
            <div id="messages" class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </div>
        {% endif %}

    </div>

    <div class="white_block">
    <h2>
    {{ group}}
    </h2>

    <h5 style="margin-top: -10px; color: #545454">
        Utworzono:&nbsp&nbsp{{ group.date_created|date:'d.m.Y' }}
    </h5>

    <h5 style="margin-top: -10px; color: #545454">
        Właściciel:&nbsp&nbsp{{ group.owner }}
    </h5>


    </div>

    <div class="white_block">
        <h3>
            Wydatki grupy
        </h3>
        <h5 style="margin-top: -10px; color: #545454">
            Podsumowanie
        </h5>

        <div>

    </div>
        <div style="display: inline-block">

            <div style=" display: inline">
                <p>Łączna suma do podziału:</p>
                <p>{{ suma }}</p>
            </div>

            <div style=" display: inline">
                <p>Suma na jednego członka:</p>
                <p>{{ amount_per_member }}</p>
            </div>

        </div>


        <div>
            <a href="{% url 'groups:group_receipts_and_expenses' group.id %}">
                Paragony i wydatki grupy
            </a>
        </div>

    </div>

    <div class="white_block">


    <div>
    <h3>
        Członkowie
    </h3>
    <h5 style="margin-top: -10px; color: #545454">
        {{ group.number_of_members }}/{{ group.max_number_of_members }}
    </h5>

    <div>
        <ol>
        {% for member in members %}
        <li>
            <a href="{% url 'profile_showcase' member.id %}">{{ member }}</a>
        </li>
        {% endfor %}
        </ol>
    </div>


    </div>

    {% if group.owner == user %}
        <a href="{% url 'groups:manage_group' group.id %}">
            Zarządzaj grupą
        </a>
    {% else %}
        Ustawienia
    {% endif %}

    <a href="{% url 'groups:invite_page' group.id %}" style="text-decoration: none; ">
        <div class="invite_btn" style="transition: 0.5s" >
                Zaproś
        </div>
    </a>

    <a style="text-decoration: none;" href="{% url 'groups:leaving_group_page' group.id %}"  >
        <div class="leave_btn" style="transition: 0.5s">
                Opuść grupę
        </div>
    </a>

    </div>

{% endblock content %}