{% extends "shopping_lists/base.html" %}

{% block content %}

    <div>
        <h1 style="text-align: center">Zarządzaj grupą</h1>
    </div>

    <div>
        <h3>Członkowie</h3>
        <ol>
            {% for member in members%}
                <li>
                 {{ member }}
                    {% if member == group.owner %}
                        👑
                    {% else %}
                        <button onclick="">X</button>
                    {% endif %}

                </li>
            {% endfor %}
        </ol>
    </div>

    <div>
        {% if group.owner == user %}
            <a href="{% url 'groups:leaving_group_page' group.id %}">
                Usuń grupę
            </a>
        {% endif %}
    </div>


    <script>
         $.ajax({
            type: 'POST',
            url: '{% url "add_shopping_list" %}',
            data: $(this).serialize(),
            success: function () {
                location.reload();
            },
            error: function (data) {
                console.log(data.error)
            }
        });
    </script>

{% endblock content %}
