{% extends "shopping_lists/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <style>
        div{
            text-align: center;
        }

        .messages{
            background-color: crimson;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
            opacity: 100%;
        }

    </style>

    <a href="{% url 'groups:groups' %}">
        <div style="position: fixed; margin-top: 15px;color: black; margin-left: 15px">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </div>
    </a>

    <div style="height:40px">

        {% if messages %}
            <div id="messages" class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </div>
        {% endif %}
    </div>

    <div>
        <h4 style="margin-top: 40px">
            Nie jesteś aktualnie członkiem grupy {{ group }}!
        </h4>
    </div>

    <div style="display: block; margin: 0 auto">
        <div style=" width: 90%; text-align: justify; margin: 10px; padding: 10px">
            Możesz wysłać prośbę do właściciela grupy w celu dołączenia, naciskając poniższy przycisk.
        </div>
    </div>


    <div style="margin: 10px;">
        <form method="post" action="{% url 'groups:not_member_of_group' group.id %}"  style="text-align: center">
        {% csrf_token %}
            <button name="send" class="btn btn-dark" type="submit">Wyślij</button>
        </form>
    </div>

    <div style="display: block; margin: 0 auto">
        <div style=" width: 90%; text-align: justify; margin: 10px; padding: 10px">
            Możesz też wpisać hasło, jeśli wcześniej zostało ono podane przez właściciela.
        </div>
    </div>

    <form method="post" style=" margin: 10px; padding: 10px; text-align: center">
        {% csrf_token %}
        <label for="pswd_inpt">Hasło:</label>
        <input type="text" name="Hasło" id="pswd_inpt">
        <button name="send_pswd" class="btn btn-dark" id="send_pswd">Wyślij</button>
    </form>

{% endblock content %}
