{% extends "shopping_lists/base.html" %}

{% block content %}

    <h3> {{ text }}: </h3>
    {% if exists %}
        {% for group in groups %}
            <p>
                {% if user in group.members %}
                <a href="{% url 'groups:group_site' group.id %}">
                    {{group}}
                </a>
                {% else %}
                    <a href="{% url 'groups:not_member_of_group' group.id %}">
                        {{group}}
                    </a>
                {% endif %}
            </p>
        {% endfor %}
    {% else %}
        <p>Brak wyników.</p>
    {% endif %}

{% endblock content %}
