{% extends "shopping_lists/base.html" %}

{% block content %}

    <style>

        .messages{
            background-color: palegreen;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
            opacity: 100%;
        }

    </style>
            <div style="height:40px">


            {% if messages %}
                <div id="messages" class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                </div>
            {% endif %}


            </div>


    <h2>
        Twoje grupy
    </h2>

        {% for group in member_of_groups %}
            <li>
            <a href="{% url 'groups:group_site' group.id %}" >
                {{ group }}
            </a>
            </li>
        {% empty %}
            Nie jesteś jeszcze członkiem żadnej grupy.
        {% endfor %}

    <div>
        <a href="{% url 'groups:add_group' %}">
            Stwórz nową grupę
        </a>
    </div>

    <div>
        <a href="{% url 'groups:add_group' %}">
            Wpisz kod
        </a>
    </div>


    <form method="POST" action="search_group/">
        {% csrf_token %}
        <input name="q" type="text" placeholder="Wprowadź nazwę grupy">
        <button type="submit">Szukaj</button>
    </form>

    <script>
        var message_container = document.getElementById("messages")

        setTimeout(function()
        {
           message_container.style.opacity = "0%";
        }, 3000);

    </script>

{% endblock content %}
