{% extends "shopping_lists/base.html" %}


{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


<body style="margin-top: auto; display: flex;flex-direction:column;">

    <div style="height:60px">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                     <div id="messages" class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% else %}
                     <div id="messages" class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <form method="POST" action="search_group/" style="margin-top: 30px">
        {% csrf_token %}
        <div style="text-align: center">
            <input class="form-control" style="border-color:black;width: 250px;display: inline-block;vertical-align: middle" name="q" type="text" placeholder="Wprowadź nazwę grupy">
            <button class="btn btn-dark" type="submit">
                <svg style="display: inline-block; vertical-align: middle" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </div>
    </form>

    <h1 class="h1" style="text-align: center; margin: 10px">
        Twoje grupy
    </h1>

    <div style="max-width: 500px; min-width: 350px; height: 600px; margin: 10px auto">
        {% for group in pages %}
            <a href="{% url 'groups:group_site' group.id %}" style="text-decoration: none; color: black">
                <div style="vertical-align:middle; padding: 15px; margin: 10px; border-radius: 10px;border: 1px solid darkgrey;">
                    <span style="vertical-align: middle">{{ group }}</span>
                </div>
            </a>
        {% empty %}
            <div style="margin: 10px; text-align: center">
               <div style="background-color: lightblue; padding: 15px; border-radius: 10px">
                    Nie jesteś jeszcze członkiem żadnej grupy.
                </div>
            </div>
        {% endfor %}
    </div>




    <script>
        var message_container = document.getElementById("messages")

        if (message_container){
           setTimeout(function()
            {
                message_container.style.opacity = "0";
            }, 3000);
        }
    </script>

    <div style=" text-align: center; bottom:150px;width:100%;height:60px; z-index: 1">
        <a href="{% url 'groups:add_group' %}" style=" text-decoration: none; color: black;">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
            <div style="display: inline-block; vertical-align: middle; font-size: 20px">
                Nowa grupa
            </div>
        </a>
    </div>

</body>

    <div style="text-align: center; margin: 10px auto">
        {% if pages.has_other_pages %}
          <ul class="pagination">
            {% if pages.has_previous %}
              <li><a style="text-decoration: none; color: black" href="?page={{ pages.previous_page_number }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
              </a></li>
            {% else %}
              <li class="disabled"><span>
                <svg xmlns="http://www.w3.org/2000/svg" color="lightgray" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
              </span></li>
            {% endif %}

              <li class="active" style="margin:0 20px"><span>{{ pages.number }}/{{ pages.paginator.num_pages }} <span class="sr-only"></span></span></li>

            {% if pages.has_next %}
              <li><a style="text-decoration: none; color: black" href="?page={{ pages.next_page_number }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </a></li>
            {% else %}
              <li class="disabled"><span>
                <svg xmlns="http://www.w3.org/2000/svg" color="lightgray" width="32" height="32" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </span></li>
            {% endif %}
          </ul>
        {% endif %}
    </div>
{% endblock content %}
