{% extends "shopping_lists/base.html" %}

{% block content %}

    <h2>{{ message.title }}</h2>
    <p>
        Data wysłania: {{ message.date_created }}
    </p>
    <p>
        Nadawca: {{ message.sender }}
    </p>
    <p>
        {{ message.text }}
    </p>

    <div>
        {% if message.group %}
            {% if message.message_type == "invitation" %}
                <a href="{% url 'my_messages:membership_accepted' message.id %}">Dołącz do grupy!</a>
                <a href="{% url 'my_messages:membership_rejected' message.id %}">Odrzuć</a>
            {% elif message.message_type == "request" %}
                <a href="{% url 'my_messages:member_accepted' message.id %}">Zaakceptuj</a>
                <a href="{% url 'my_messages:member_rejected' message.id %}">Odrzuć</a>
            {% endif %}
        {% endif %}
    </div>


{% endblock content %}
