{% extends "shopping_lists/base.html" %}

{% block content %}

    <a href="{% url 'promotions_and_discounts:shop_selection' %}">
        <div style="position: absolute; margin-top: 15px;color: black; margin-left: 15px">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </div>
    </a>


    <h1 style="text-align: center">{{ shop.shop_name }}</h1>

    {% for label,discount,old_price,new_price,color in some_promos %}
        <div style="margin:10px; padding:10px; background-color: {{ color }}; border-radius: 20px">
            <p>
                {{ label }}
            </p>

            <p>
                 {{ discount }} <span style="text-decoration-line: line-through">{{ old_price }}</span> {{ new_price }}
            </p>
        </div>

    {% empty %}
        Brak promocji w tym momencie!
    {% endfor %}

    <div>
        Załaduj więcej
    </div>

{% endblock content %}
