{% extends "shopping_lists/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <style>
        .basic_white{
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            margin: 10px;
        }

        .chosen_one_box{
            background-color: white;
            border: 1px solid lightgrey;
            padding: 10px;
            margin: 5px 5px 0 5px;
            transition: 0.5s, opacity 1s;
            border-radius: 20px;
            cursor: pointer;
            width: 60px;
            display: inline-block;
        }

        .chosen_one_box:hover{
            filter: brightness(85%);
            transition: 0.5s, opacity 1s;
        }

    </style>

        <div>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                     <div id="messages" class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% else %}
                     <div id="messages" class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <script>
            var mess = document.getElementById("messages")

            setTimeout(function(){
                mess.style.display="none";
            },2000)
        </script>
    </div>

    <a href="{% url 'category_charts' %}">
        <div style="position: absolute; top: 100px;color: black; left: 20px">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </div>
    </a>


    <a href="{% url 'shops_charts' %}">
        <div style="position: absolute; top: 100px;color: black; right: 20px">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
            </svg>
        </div>
    </a>

    <h1 style="margin-top: 20px">Statystyki</h1>
    <h3 style="text-align: center">Grupy</h3>

    <div style="margin: 10px auto; padding: 10px; display: inline-block; vertical-align: middle">
        <div>

            <div style="text-align:center;">
                <div id="year_box" style="display: inline-block" class="chosen_one_box">
                    Wszystkie
                </div>
                <div id="month_box" style="display: inline-block" class="chosen_one_box">R</div>
                <div id="week_box" style="display: inline-block" class="chosen_one_box">M</div>
            </div>
        </div>
        <div class="basic_white" id="expenses_title">
            <div id="year" style="align-items: center; margin: auto; height:500px">
                {% autoescape off %}
                    {{ exp_rec_pie }}
                {% endautoescape %}
            </div>

            <div id="month" style="display: none;align-items: center; margin: auto; height: 300px">
                {% autoescape off %}
                    {{ pie_chart_month }}
                {% endautoescape %}
            </div>

            <div id="week" style="display: none;align-items: center; margin: auto; height:300px">

            </div>

        </div>
        <h3 id="text" style="margin: 10px">
            Łącznie: {{ suma|floatformat:2 }} zł
        </h3>

    </div>
        <div class="basic_white" id="expenses_title">
            <div id="year" style="align-items: center; margin: auto; height:500px">
                {% autoescape off %}
                    {{ exp_rec_pie }}
                {% endautoescape %}
            </div>

{#            <div id="month" style="display: none;align-items: center; margin: auto; height:500px">#}
{#                {% autoescape off %}#}
{#                    {{ pie_years }}#}
{#                {% endautoescape %}#}
{#            </div>#}
{##}
{#            <div id="week" style="display: none;align-items: center; margin: auto; height:500px">#}
{#                {% autoescape off %}#}
{#                    {{ pie_months }}#}
{#                {% endautoescape %}#}
{#            </div>#}

        </div>
<script>
        var year_box = document.getElementById("year_box")
        var month_box = document.getElementById("month_box")
        var week_box = document.getElementById("week_box")
        var y = document.getElementById("year")
        var m = document.getElementById("month")
        var w = document.getElementById("week")
        var text = document.getElementById("text")

        var boxes = [
            year_box,
            month_box,
            week_box,
             ];

        var names = ["Wszystkie", "Roczne", "Miesięczne"];
        var short_names = ["W", "R", "M"];

        year_box.style.transition = "0";
        year_box.style.backgroundColor = "lightgrey";
        year_box.style.width = "120px";
        boxes.forEach((item) => {item.addEventListener('click', wrapper)});

          function wrapper(){
              on_click(event.target)
          }

          function on_click(box){
              var counter = 0
              box.style.backgroundColor = "white";
              if (box === year_box){
                  y.style.display = 'grid';
                  m.style.display = 'none';
                  w.style.display = 'none';
                  {#text.innerHTML = `Łącznie: {{ year_sum|floatformat:2 }} zł`#}
              }
              else if (box === month_box){
                  m.style.display = 'grid';
                  y.style.display = 'none';
                  w.style.display = 'none';
                  {#text.innerHTML = `Łącznie: {{ month_sum|floatformat:2 }} zł`#}
              }
              else if (box === week_box){
                  m.style.display = 'none';
                  y.style.display = 'none';
                  w.style.display = 'grid';
                  {#text.innerHTML = `Łącznie: {{ week_sum|floatformat:2 }} zł`#}
              }
              else if (box === day_box){
                  m.style.display = 'none';
                  y.style.display = 'none';
                  w.style.display = 'none';
                  {#text.innerHTML = `Łącznie: {{ day_sum|floatformat:2 }} zł`#}
              }
              boxes.forEach((item) => {
                  if (item === box){
                      item.style.backgroundColor = "lightgray";
                      item.style.width = "120px";
                      item.style.opacity = '100%';
                      let temp = names[counter];
                      setTimeout(function() {
                          item.innerHTML = temp
                        }, 300);
                  }
                  else
                  {
                      item.style.backgroundColor = "white";
                      item.style.width = "60px";
                      item.style.opacity = '50%';
                      item.innerHTML = short_names[counter]
                  }
                  counter += 1;
              });
          }
    </script>
{% endblock content %}