{% extends "shopping_lists/base.html" %}

{% block content %}

    <h2 style="text-align: center">Rejestracja</h2>
    <div style="text-align: center">
        <form method="post" action="{% url 'users:register' %}">
            {% csrf_token %}
            <div>
                <p>
                    {{ form.username.label }}
                </p>
                <p>
                    {{ form.username }}
                </p>
            </div>

            <div>
                <p>
                    {{ form.email.label }}
                </p>
                <p>
                    {{ form.email }}
                </p>
            </div>

            <div>
                <p>
                    {{ form.password1.label }}
                </p>
                <p>
                    {{ form.password1 }}
                </p>
            </div>

            <div>
                <p>
                    {{ form.password2.label }}
                </p>
                <p>
                    {{ form.password2 }}
                </p>
            </div>

            <div>
                <p>
                    {{ form.date_of_birth.label }}
                </p>
                <p>
                    {{ form.date_of_birth}}
                </p>
            </div>

            <div>
                <p>
                    {{ form.terms_accepted }}{{ form.terms_accepted.label }}
                </p>
            </div>

            {{ form.errors }}
            <button name="register_btn">Zarejestruj</button>
            <input type="hidden" name="next" value="{% url 'homepage' %}">
        </form>
    </div>

    <a style="padding: 10px; width: 32px; bottom: 5px; text-decoration: none; color: black;margin-top: auto" href="{% url 'homepage' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
          <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
    </a>
{% endblock content %}
