{% extends "shopping_lists/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <div>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                     <div id="messages" class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% else %}
                     <div id="messages" class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <script>
            var mess = document.getElementById("messages")

            setTimeout(function(){
                mess.style.display="none";
            },2000)
        </script>
    </div>

    <a href="{% url 'receipts:your_receipts' %}">
        <div style="position: fixed; margin-top: 15px;color: black; margin-left: 15px">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </div>
    </a>

    <div>
        <h1 style="text-align: center; margin-top: 20px">Koszty własne</h1>
    </div>




    <form action="{% url 'receipts:costs_by_hand' %}" method="post" style="margin: 20px auto">
        {% csrf_token %}
        <div style="margin: 20px auto">
            {{ form.expense_name.label }}
            {{ form.expense_name }}
        </div>

        <div id="id_checkbox_recurrent" onclick="is_checked_recurrent()"  style="margin: 20px auto">
            {{ form.is_recurrent }}
            <span style="vertical-align: middle;">
                {{ form.is_recurrent.label }}
            </span>
        </div>

        <div style="margin: 30px auto">
            <div id="recurrent_field" style="display: none; margin: 20px auto">
                {{ form.number.label}}
                {{ form.number}}
            </div>

            <div id="recurrent_field_2" style="display: none; margin: 20px auto">
                {{ form.time_stamp}}
            </div>
        </div>

        <div style="margin: 20px auto">
            {{ form.amount.label }}
            {{ form.amount }}
        </div>

        <div style="margin: 20px auto">
            {{ form.category.label}}
            {{ form.category}}
        </div>

        <div style="margin: 20px auto">
            {{ form.shop.label }}
            {{ form.shop }}
        </div>

        <div id="my_check_div" style="margin: 30px auto">
            <input style="accent-color:black; vertical-align: middle; width: 20px;height: 20px; margin: 10px" type="checkbox" onclick="is_checked()" name="check" id="id_checkbox">
            <label for="my_check" style="vertical-align: middle;">Czy należy do grupy?</label>
        </div>

        <div id="group_field" style="display: none;margin: 20px auto">
            {{ form.group.label }}
            {{ form.group }}
        </div>

        <button style="width: 150px; margin: 20px" name="post_btn" type="submit" class="btn btn-dark">Dodaj</button>
    </form>


    <script>
        function is_checked(){
            var checkbox_is_group = document.getElementById("id_checkbox")
            var group_field = document.getElementById("group_field")

            if (checkbox_is_group.checked){
                group_field.style.display = "block";
            }
            else{
                group_field.style.display = "none";
            }
        }

        var checkbox_recurrent = document.getElementById("id_checkbox_recurrent")
        var recurrent_field = document.getElementById("recurrent_field")
        var recurrent_field_2 = document.getElementById("recurrent_field_2")

        checkbox_recurrent.addEventListener('change',function (e){
            if (recurrent_field.style.display === "none"){
                recurrent_field.style.display = "block";
                recurrent_field_2.style.display = "block";
            }
            else{
                recurrent_field.style.display = "none";
                recurrent_field_2.style.display = "none";
            }
        })


    </script>
{% endblock content %}
