{% extends "shopping_lists/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


    <a href="{% url 'receipts:expense_site' expense.id %}">
        <div style="position: fixed; margin-top: 15px;color: black; margin-left: 15px">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </div>
    </a>

    <h1 style="text-align: center; margin-top: 20px">Edytuj opłatę</h1>

        <div style="padding: 10px; margin: 20px">
        <form id="form" method="post" action="{% url 'receipts:edit_expense' expense.id %}">
        {% csrf_token %}
            <div style="margin: 20px">
                {{ form.expense_name.label }}
                {{ form.expense_name }}
            </div>


            <div style="margin: 20px;">
                {{ form.is_recurrent.label }}
                {{ form.is_recurrent }}
            </div>

            <div id="time" style="display: none; margin: 20px;">
                {{ form.time_stamp.label }}
                {{ form.number }}
                {{ form.time_stamp }}
            </div>

            <div style="margin: 20px;">
                {{ form.amount.label }}
                {{ form.amount }}
            </div>

            <div style="margin: 20px;">
                {{ form.group.label}}
                {{ form.group }}
            </div>

            <div style="margin: 20px;">
                {{ form.category.label }}
                {{ form.category }}
            </div>



            {{ form.errors }}
            </form>
        </div>

        <div style="margin: 20px auto;">
            <button form="form" style="margin: 20px auto; width: 150px;" class="btn btn-dark" type="submit">Zatwierdź</button>
        </div>

    <script>
        var is_rec = document.getElementById("is_rec")
        var time = document.getElementById("time")
        flag = true

        is_rec.addEventListener("click", function (){
            if (flag){
                time.style.display = "block"
                flag = false
            }
            else{
                time.style.display = "none"
                flag = true
            }
        })
    </script>


{% endblock content %}