{% extends "shopping_lists/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


    <a href="{% url 'groups:group_receipts_and_expenses' group.id %}">
        <div style="position: fixed; margin-top: 15px;color: black; margin-left: 15px">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </div>
    </a>

    {% if expense.is_starred %}
        <div style="position: absolute; right: 20px; top: 100px">
            <a style="text-decoration: none; color: goldenrod" href="{% url 'receipts:change_expense_starred_status' expense.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
            </a>
        </div>
    {% else %}
        <div style="position: absolute; right: 20px; top: 100px">
            <a style="text-decoration: none; color: goldenrod"  href="{% url 'receipts:change_expense_starred_status' expense.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg>
            </a>
        </div>
    {% endif %}


    <h1 style="text-align: center; margin-top: 20px">{{ expense.expense_name }}</h1>

    <div style="margin: 10px; padding: 10px">
    <div style="margin: 10px; padding: 10px">

    <div style="margin:10px; padding: 10px; max-width: 500px; text-align: justify ">
        <h5>Dane ogólne</h5>
        Właściciel: <b>{{ expense.owner }}</b><br>
        Data dodania: <b>{{ expense.date_added|date:"d.m.Y" }}</b><br>
        Suma ogólna: <b>{{ expense.amount }} zł</b><br>
        Należy do grupy:
        <b>
        {% if expense.group %}
            {{ expense.group }}
        {% else %}
            Nie
        {% endif %}
        </b>
    </div>

    <div style="margin:10px; padding: 10px; max-width: 500px; text-align: justify ">
        <h5>Kategorie wydatku</h5>
{#        <ul>#}
{#            {% for cat in expense.category %}#}
{#                <li>{{ expense.category }}</li>#}
{#            {% endfor %}#}
{#        </ul>#}
        {{ expense.category }}
    </div>

    <div style="margin:10px; padding: 10px; max-width: 500px; text-align: justify ">
        <h5>Powtarzalność</h5>
        {% if expense.is_recurrent %}
            Powtarzalny co <b>{{ expense.number }} {{ expense.time_stamp }}</b>
            {% else %}
            Jednorazowy
        {% endif %}

    </div>


    </div>

        {% if expense.owner == user %}
            <div id="icons_container_id" style="margin: 10px auto">
                <a href="{% url 'receipts:edit_expense' expense.id %}" style="text-decoration: none; color: black;margin-right: 25px">
                    <div style="display: inline;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                    </div>
                    <span style="margin-left: 10px">Edytuj opłatę</span>
                </a>
            </div>

            <div id="icons_container_id" style="margin: 10px auto">
                <a href="{% url 'receipts:delete_expense' expense.id %}" style="text-decoration: none; color: black;margin-right: 35px">
                    <div style="display: inline; ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </div>
                    <span style="margin-left: 10px">Usuń opłatę</span>
                </a>
            </div>
        {% endif %}


    </div>

{% endblock content %}