{% extends "shopping_lists/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <a href="{% url 'receipts:your_receipts' %}">
        <div style="position: fixed; margin-top: 15px;color: black; margin-left: 15px">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </div>
    </a>

    <a href="{% url 'receipts:guarantee_settings' %}">
        <div style="position: absolute; top: 100px;color: black; right: 20px">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </div>
    </a>

    <h1 style=" max-width: 240px; text-align: center; margin: 20px auto">Terminy gwarancji i zwrotów</h1>

    <div class="list-group" style="margin: 10px auto;max-width: 600px; min-width: 300px">
            {% for guarantee, left, flag in info %}
                    <a class="text" href="{% url 'receipts:guarantee_site' guarantee.id %}" style="text-decoration: none; color: black">
                    {%  if flag %}
                        <div style="display: grid;grid-template: auto/ 80% 20%; vertical-align:middle;min-height: 55px; padding: 10px; margin: 10px; border-radius: 10px;border: 1px solid #d05980; background-color: palevioletred" >
                            <span style="display: inline-grid;vertical-align: middle">{{ guarantee.guarantee_name }}</span>
                            <div>
                                <span class="days_left" style="display: inline-grid;vertical-align: middle">{{ left.days }} dni</span>
                                <div class="x_button" style="margin: auto; display: none;">
                                    <a  href="{% url 'receipts:delete_guarantee' guarantee.id %}" style="text-decoration: none; color: red" >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {%  else %}
                        <div style="display: grid;grid-template: auto/ 80% 20%; vertical-align:middle; min-height: 55px; padding: 10px; margin: 10px; border-radius: 10px;border: 1px solid black;" >
                            <span style="display: inline-grid;vertical-align: middle">{{ guarantee.guarantee_name }}</span>
                            <div>
                                <span class="days_left" style="display: inline-grid;vertical-align: middle">{{ left.days }} dni</span>
                                <div class="x_button" style="margin: auto;display: none;">
                                    <a  href="{% url 'receipts:delete_guarantee' guarantee.id %}" style="text-decoration: none; color: red" >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    </a>

            {% empty %}
                <div style="text-align: center">Nie dodano jeszcze żadnego terminu.</div>
            {% endfor %}
    </div>

    <div style="text-align: center; margin: 30px auto 10px auto;">
        {% if pages.has_other_pages %}
          <ul class="pagination" style="display: inline-block;">
            {% if pages.has_previous %}
              <li style="display: inline-block;"><a style="text-decoration: none; color: black" href="?page={{ pages.previous_page_number }}&from_date={{ from_date }}&to_date{{ to_date }}&name{{ name }}&from_number{{ from_number }}&to_number={{ to_number }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
              </a></li>
            {% else %}
              <li class="disabled" style="display: inline-block;"><span>
                <svg xmlns="http://www.w3.org/2000/svg" color="lightgray" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
              </span></li>
            {% endif %}

              <li class="active" style="margin:0 auto;display: inline-block"><span>{{ pages.number }}/{{ pages.paginator.num_pages }} <span class="sr-only"></span></span></li>

            {% if pages.has_next %}
              <li style="display: inline;"><a style="text-decoration: none; color: black" href="?page={{ pages.next_page_number }}&from_date={{ from_date }}&to_date{{ to_date }}&name{{ name }}&from_number{{ from_number }}&to_number={{ to_number }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </a></li>
            {% else %}
              <li style="display: inline;" class="disabled"><span>
                <svg xmlns="http://www.w3.org/2000/svg" color="lightgray" width="32" height="32" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
              </span></li>
            {% endif %}
          </ul>
        {% endif %}
    </div>

    <div style="text-align:center; position: sticky; flex: 6; margin-top: auto; margin-bottom: 40px; display: flex; flex-direction: column-reverse;">
        <div id="icons_container_id" class="icons_container">

            <a id="add_btn" class="add_btn" href="{% url 'receipts:new_guarantee' %}" style="text-decoration: none; color: black">
                <div style="display: inline; horiz-align: center;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-patch-plus" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                          <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
                        </svg>
                </div>
            </a>

            <div id="delete_btn" class="del_btn" style="display: inline; horiz-align: center; margin-left: 20px">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-patch-minus-fill" viewBox="0 0 16 16">
                  <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM6 7.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1 0-1z"/>
                </svg>
            </div>
        </div>
    </div>



          <!-- Skrypt obsługi eventów przycisków-->
    <script>
    var del_btn = document.getElementById("delete_btn")
    var del_btns = document.getElementsByClassName("x_button")
    var days_left = document.getElementsByClassName("days_left")
    var flag_del = true;

    var add_btn = document.getElementById("add_btn")
    var add_btn_by_hand = document.getElementById("add_btn_by_hand")

    var is_from_web_checked = true;


    $('#check_from_web').on( "click", function() {
        if(is_from_web_checked){
            $('#page_url').css("display","block");
               is_from_web_checked = false;
        }
        else {
            $('#page_url').css("display","none");
               is_from_web_checked = true;
        }

    } );

    del_btn.addEventListener('click', function (e) {
        if(flag_del){
            del_btn.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                  </svg>`
            for (let i = 0; i < del_btns.length; i++)
            {
                del_btns[i].style.display = "inline-block";
            }
            for (let i = 0; i < days_left.length; i++)
            {
                days_left[i].style.display = "none";
            }
            flag_del = false;
            add_btn.style.pointerEvents= 'none'
            add_btn.style.color = 'gray';
        }
        else
        {
            del_btn.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-patch-minus-fill" viewBox="0 0 16 16">
                                  <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM6 7.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1 0-1z"/>
                                </svg>`
            for (let i = 0; i < del_btns.length; i++)
            {
                del_btns[i].style.display = "none";
            }
            for (let i = 0; i < days_left.length; i++)
            {
                days_left[i].style.display = "inline-block";
            }
            flag_del = true;
            add_btn.style.pointerEvents = 'auto'
            add_btn.style.color = 'black';
        }

    })
    </script>

{% endblock content %}
