{% extends "shopping_lists/base.html" %}

{% block content %}

    <h1 style="text-align: center">Gwarancje</h1>

    <div>
        <ul>
            {% for guarantee in guarantees %}
            <li>{{ guarantee }} </li>{{ time_left.days }} dni
            {% empty %}
                <p>Nie dodano jeszcze żadnej gwarancji.</p>
            {% endfor %}
        </ul>
    </div>

    <iframe style="height: 600px" src="https://www.gazetki.pl/przejrzyj/oferty/biedronka-gazetka-1818137"></iframe>

{% endblock content %}
