{% extends "shopping_lists/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <a href="{% url 'receipts:receipt_site' receipt.id %}">
        <div style="position: absolute; margin-top: 15px;color: black; margin-left: 15px">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
        </div>
    </a>

    <h1 style="text-align: center; margin-top: 20px">Odczytane informacje</h1>
    
     <img src="{{ receipt.receipt_img.url }}" alt="Zdjęcie paragonu" style="height: auto; width: 50%; margin: auto">

    <form id="form" style="padding: 10px; margin: 20px auto;" method="post" action="{% url 'receipts:OCR_site' receipt.id %}">
    {% csrf_token %}

        <div style="margin: 20px auto; padding: 10px;">
            {{ form.receipt_name.label }}
            {{ form.receipt_name }}
        </div>

        <div style="margin: 20px auto; padding: 10px;">
            {{ form.amount.label }}
            {{ form.amount }}
        </div>

        <div style="margin: 20px auto; padding: 10px;">
            {{ form.date_of_receipt_bought.label }}
            {{ form.date_of_receipt_bought }}
        </div>

        {% if flag == "group" %}
        <div style="margin: 20px auto; padding: 10px;">
            {{ form.group.label }}
            {{ form.group }}
        </div>
        {% endif %}


        <div style="margin: 20px auto; padding: 10px;">
            {{ form.receipt_categories.label }}
            {{ form.receipt_categories }}
        </div>

        <div style="margin: 20px auto; padding: 10px;">
            {{ form.shop.label }}
            {{ form.shop }}
        </div>

        <div style="margin: 20px auto; padding: 10px;">
            {{ form.receipt_info.label }}
            {{ form.receipt_info }}
        </div>

        <div style="margin: 20px auto; padding: 10px;">
            {{ form.products.label }}
            {{ form.products }}
        </div>

        {%  if flag == "mainpage" %}
        <input type="hidden" name="flag" value="mainpage">
        {%  elif flag == "group" %}
            <input type="hidden" name="flag" value="group">
            <input type="hidden" name="grp" value={{ group.id }}>
        {%  endif %}

        <label for="customRange1" class="form-label">Czas gwarancji</label>
        <div>
          <input name="input_guarant"  type="range" class="form-range" min="0" step="1" max="31" value="0"  id="customRange1">

            <div>
              <span style="display: block" id="demo"></span>
              <select name="select_guarant" class="form-select" id="select" style="display: block; max-width: 200px">
                  <option value="dni">dni</option>
                  <option value="miesięcy">miesięcy</option>
                  <option value="lat">lat</option>
              </select>
          </div>
        </div>


        <script>
        var slider = document.getElementById("customRange1");
        var output = document.getElementById("demo");
        var num_inp = document.getElementById('num');

        $(document).ready(function () {
            $("#num").change(function() {
                $(this).val(parseFloat($(this).val()).toFixed(2));
            });
        });

        output.innerHTML = slider.value;

        slider.oninput = function() {
          output.innerHTML = this.value;
        }
        </script>

        <div style="text-align: center">
            <button style="margin: 20px; min-width: 150px" form="form" class="btn btn-dark" type="submit">Zatwierdź</button>
        </div>

    </form>

    <div style="margin: 20px; padding: 10px">

        <h3 style="text-align: center">Odczytany tekst</h3>
        {% for n, t in text %}
            {% if n == 0 %}
                <div class="text_block" style="margin: 10px auto; display: block">
                    {{ t|linebreaks }}
                </div>
            {% else %}
                <div class="text_block" style="margin: 10px auto; display: none">
                    {{ t|linebreaks }}
                </div>
            {% endif %}
        {% endfor %}

    <div style="margin: auto; text-align: center; display: inline-block">
        {% for n, t in text %}
            {% if n == 0 %}
                <div class="color_btn" style="background-color: black; color: white; border-radius: 10px; padding: 5px; display: inline-block; margin: 10px auto">
                    {{ n|add:'1'}}
                </div>
            {% else %}
                <div class="color_btn" style="background-color: grey; color: black; border-radius: 10px; padding: 5px; display: inline-block; margin: 10px auto">
                {{ n|add:'1'}}
                </div>
            {% endif %}

        {% endfor %}
    </div>

    </div>

    <script>
    let text_block = document.getElementsByClassName("text_block")
    let color_btn = document.getElementsByClassName("color_btn")

    for (let i = 0; i < color_btn.length; i++) {
          color_btn[i].addEventListener("click", function (){
              for (let j = 0; j < text_block.length; j++) {
                    if (i === j){
                        text_block[j].style.display = "block"
                        this.style.backgroundColor = "black"
                        this.style.color = "white"
                    }
                    else
                  {
                      text_block[j].style.display = "none"
                      color_btn[j].style.backgroundColor = "grey"
                      color_btn[j].style.color = "black"
                  }
                }
          })
        }

    </script>
{% endblock content %}