{% extends "shopping_lists/base.html" %}

{% block content %}

    <div>
        <h2 style="text-align: center">Twoje paragony</h2>
    </div>

    <div>
        {% for receipt in receipts %}
            <div>
                <a href="{% url 'receipts:receipt_site' receipt.id%}">
                    {{ receipt.receipt_name }}
                </a>
            </div>
        {% empty %}
            Brak paragonów
        {% endfor %}
    <div>
        <h2 style="text-align: center">Twoje wydatki</h2>
    </div>
        {% for expense in expenses %}
            <div>
                {{ expense.expense_name }}
            </div>
        {% empty %}
            Brak wydatków
        {% endfor %}

    <div>
        <h2 style="text-align: center">Gwarancje</h2>
    </div>

    <div>
        <ul>
            {% for guarantee in guarantees %}
            <li>{{ guarantee }} </li>{{ time_left.days }} dni
            {% empty %}
                <p>Nie dodano jeszcze żadnej gwarancji.</p>
            {% endfor %}
        </ul>
    </div>

        <p>
            <a href="{% url 'receipts:new_receipt' %}" >Dodaj nowy paragon</a>
        </p>
        <p>
            <a href="{% url 'receipts:costs_by_hand' %}" >Dodaj wydatki ręcznie</a>
        </p>

        <p>
            <a href="{% url 'receipts:new_guarantee' %}" >Dodaj gwarancję</a>
        </p>

        <p>
            <a href="{% url 'categories:categories' %}" >Kategorie</a>
        </p>

    </div>

{% endblock content %}
