{% extends "shopping_lists/base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <div style="height:60px">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                     <div id="messages" class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% else %}
                     <div id="messages" class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <script>
            var mess = document.getElementById("messages")

            setTimeout(function(){
                mess.style.display="none";
            },2000)
        </script>
    </div>

    <style>

        .box{
            background-color: gainsboro;
            padding: 10px;
            margin: 10px;
        }

        .text{
            color: black;
            text-decoration: none;
        }

    </style>


    <div>
        <h2 style="text-align: center; margin-top: 20px">Paragony</h2>
    </div>

    <div>

    <div style="margin: 20px; padding: 10px">
        {% for receipt in receipts %}
                <a class="text"  href="{% url 'receipts:receipt_site' receipt.id%}">
                    <div class="box" style="max-width: 500px; margin: 10px auto">
                        {{ receipt.receipt_name }}
                    </div>
                </a>
        {% empty %}
            <div style="text-align: center">Nie dodano jeszcze żadnego paragonu.</div>
        {% endfor %}

        {% if flag %}
        <div style="text-align: center">
            <a style="text-decoration: none; color: darkmagenta;margin: 10px;" href="{% url 'receipts:receipts_page' %}">
                Zobacz więcej...
            </a>
        </div>
        {% endif %}

        <div style="margin:40px 20px 10px 20px; text-align: center">
            <a href="{% url 'receipts:new_receipt' %}" style="text-decoration: none; color: black;text-align: center;">
                <div id="add_btn" class="add_btn" style="display: inline; horiz-align: center;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-patch-plus" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                          <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
                        </svg>
                        <span>Dodaj z OCR</span>
                </div>
            </a>
        </div>

        <div style="margin: 10px; text-align: center">
            <a href="{% url 'receipts:receipt_by_hand' %}" style="text-decoration: none; color: black; text-align: center;">
                <div id="add_btn_by_hand" class="add_btn" style="display: inline; horiz-align: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-patch-plus-fill" viewBox="0 0 16 16">
                      <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
                    </svg>
                </div>
                <span>Dodaj ręcznie</span>
            </a>
        </div>
    </div>

    <div>
        <h2 style="text-align: center">Opłaty i wydatki</h2>
    </div>

    <div style="margin: 20px; padding: 10px">
        {% for expense in expenses %}
            <a class="text" href="{% url 'receipts:expense_site' expense.id%}">
                <div class="box" style="max-width: 500px; margin: 10px auto">
                    {{ expense.expense_name }}
                </div>
            </a>
        {% empty %}
            <div style="text-align: center">Nie dodano jeszcze żadnej opłaty.</div>
        {% endfor %}

        {% if flag_e %}
            <div style="text-align: center">
                <a style="text-decoration: none; color: darkmagenta;margin: 10px;" href="{% url 'receipts:expenses_page' %}">
                    Zobacz więcej...
                </a>
            </div>
        {% endif %}

        <div id="icons_container_id" style="text-align: center;margin: 20px">
            <a href="{% url 'receipts:costs_by_hand' %}" style="text-decoration: none; color: black;display: inline; horiz-align: center; margin-right: 20px">
                <div id="add_btn_by_hand" class="add_btn" style="display: inline; horiz-align: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-patch-plus-fill" viewBox="0 0 16 16">
                      <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
                    </svg>
                </div>
                <span>Nowa opłata</span>
            </a>
        </div>

    </div>


    <div>
        <h2 style="text-align: center">Terminy gwarancji i zwrotów</h2>
    </div>

    <div style="margin: 20px; padding: 10px">

            {% for guarantee, left, flag in info %}
                    <a class="text" href="{% url 'receipts:guarantee_site' guarantee.id %}">
                    {%  if flag %}
                        <div class="box" style="max-width: 500px; margin: 10px auto; background-color: palevioletred">
                            {{ guarantee.guarantee_name }} {{ left.days }} dni
                        </div>
                    {%  else %}
                        <div class="box" style="max-width: 500px; margin: 10px auto">
                            {{ guarantee.guarantee_name }} {{ left.days }} dni
                        </div>
                    {% endif %}
                    </a>
            {% empty %}
                <div style="text-align: center">Nie dodano jeszcze żadnego terminu.</div>
            {% endfor %}


        {% if flag_g %}
        <div style="text-align: center">
            <a style="text-decoration: none; color: darkmagenta;margin: 10px;" href="{% url 'receipts:guarantees' %}">
                Zobacz więcej...
            </a>
        </div>
        {% endif %}

        <div id="icons_container_id" style="text-align: center;margin: 20px">
            <a href="{% url 'receipts:new_guarantee' %}" style="text-decoration: none; color: black;display: inline; horiz-align: center; margin-right: 20px">
                <div id="add_btn_by_hand" class="add_btn" style="display: inline; horiz-align: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-patch-plus-fill" viewBox="0 0 16 16">
                      <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
                    </svg>
                </div>
                <span>Nowy termin</span>
            </a>
        </div>

    </div>
        <a href="{% url 'categories:categories' %}" style="text-decoration: none; color: black">
            <div style="background-color: lightgrey; width: fit-content;border-radius: 20px;
                        margin: 10px auto;padding: 10px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-grid-3x3-gap" viewBox="0 0 16 16">
                      <path d="M4 2v2H2V2h2zm1 12v-2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V7a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm5 10v-2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V7a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zM9 2v2H7V2h2zm5 0v2h-2V2h2zM4 7v2H2V7h2zm5 0v2H7V7h2zm5 0h-2v2h2V7zM4 12v2H2v-2h2zm5 0v2H7v-2h2zm5 0v2h-2v-2h2zM12 1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zm-1 6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zm1 4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1h-2z"/>
                    </svg>
                    Kategorie
            </div>
        </a>
    </div>

{% endblock content %}
